bckp/backup.json
{
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "weeks",
                            "triggerAtDay": [
                                1
                            ],
                            "triggerAtHour": 8
                        }
                    ]
                }
            },
            "id": "trigger-1",
            "name": "Chaque Lundi 8h",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3,
            "position": [
                0,
                304
            ]
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "14MZ2AB0b2FxJGUt44wqKivE4pg7ZFsuNkyJAC0cu48Y",
                    "mode": "list",
                    "cachedResultName": "n8n - mock_reporting_data",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14MZ2AB0b2FxJGUt44wqKivE4pg7ZFsuNkyJAC0cu48Y/edit?usp=drivesdk"
                },
                "sheetName": {
                    "mode": "name",
                    "value": "Google Analytics"
                },
                "options": {}
            },
            "id": "sheets-ga",
            "name": "Google Analytics",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                304,
                112
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "XKrfr5Rb6jP5tv7T",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "14MZ2AB0b2FxJGUt44wqKivE4pg7ZFsuNkyJAC0cu48Y",
                    "mode": "list",
                    "cachedResultName": "n8n - mock_reporting_data",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14MZ2AB0b2FxJGUt44wqKivE4pg7ZFsuNkyJAC0cu48Y/edit?usp=drivesdk"
                },
                "sheetName": {
                    "mode": "name",
                    "value": "Search Console"
                },
                "options": {}
            },
            "id": "sheets-sc",
            "name": "Search Console",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                304,
                256
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "XKrfr5Rb6jP5tv7T",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "14MZ2AB0b2FxJGUt44wqKivE4pg7ZFsuNkyJAC0cu48Y",
                    "mode": "list",
                    "cachedResultName": "n8n - mock_reporting_data",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14MZ2AB0b2FxJGUt44wqKivE4pg7ZFsuNkyJAC0cu48Y/edit?usp=drivesdk"
                },
                "sheetName": {
                    "mode": "name",
                    "value": "Meta Ads"
                },
                "options": {}
            },
            "id": "sheets-meta",
            "name": "Meta Ads",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                304,
                400
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "XKrfr5Rb6jP5tv7T",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "14MZ2AB0b2FxJGUt44wqKivE4pg7ZFsuNkyJAC0cu48Y",
                    "mode": "list",
                    "cachedResultName": "n8n - mock_reporting_data",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14MZ2AB0b2FxJGUt44wqKivE4pg7ZFsuNkyJAC0cu48Y/edit?usp=drivesdk"
                },
                "sheetName": {
                    "mode": "name",
                    "value": "Objectifs Client"
                },
                "options": {}
            },
            "id": "sheets-obj",
            "name": "Objectifs Client",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                304,
                560
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "XKrfr5Rb6jP5tv7T",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "numberInputs": 4
            },
            "id": "merge-1",
            "name": "Fusionner Donnees",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3.2,
            "position": [
                608,
                304
            ]
        },
        {
            "parameters": {
                "jsCode": "// =============================================================\n// TRANSFORMER DONNEES - Rapport Hebdomadaire Client\n// Separe les items par type de source, calcule les KPIs\n// =============================================================\n\nconst items = $input.all();\n\n// --- Helper: get field value case-insensitive ---\nfunction getField(obj, ...names) {\n  for (const name of names) {\n    for (const key of Object.keys(obj)) {\n      if (key.toLowerCase().trim() === name.toLowerCase().trim()) {\n        return obj[key];\n      }\n    }\n  }\n  return undefined;\n}\n\nfunction toNum(v) {\n  if (v === undefined || v === null || v === '') return 0;\n  const n = parseFloat(String(v).replace(/[^0-9.,-]/g, '').replace(',', '.'));\n  return isNaN(n) ? 0 : n;\n}\n\nfunction pct(current, previous) {\n  if (!previous || previous === 0) return 0;\n  return Math.round(((current - previous) / previous) * 100 * 10) / 10;\n}\n\n// --- Classify items by detecting unique columns ---\nconst gaItems = [];\nconst scItems = [];\nconst metaItems = [];\nconst objItems = [];\n\nfor (const item of items) {\n  const d = item.json;\n  const keys = Object.keys(d).map(k => k.toLowerCase());\n  \n  if (keys.some(k => k.includes('session') || k.includes('utilisateur') || k.includes('rebond') || k.includes('pages/session') || k.includes('pages_session'))) {\n    gaItems.push(d);\n  } else if (keys.some(k => k.includes('position') || k.includes('impression') || k.includes('ctr') || k.includes('mot') || k.includes('query') || k.includes('keyword'))) {\n    scItems.push(d);\n  } else if (keys.some(k => k.includes('campagne') || k.includes('campaign') || k.includes('roas') || k.includes('cpa') || k.includes('depense') || k.includes('spend'))) {\n    metaItems.push(d);\n  } else if (keys.some(k => k.includes('objectif') || k.includes('cible') || k.includes('target') || k.includes('actuel') || k.includes('kpi'))) {\n    objItems.push(d);\n  }\n}\n\n// --- SEO (Google Analytics) ---\nconst seo = { sessions: 0, sessionsPrev: 0, users: 0, usersPrev: 0, bounceRate: 0, pagesPerSession: 0, dailySessions: [] };\n\nif (gaItems.length > 0) {\n  // Sort by date if available\n  const sorted = [...gaItems].sort((a, b) => {\n    const da = getField(a, 'date', 'jour', 'day') || '';\n    const db = getField(b, 'date', 'jour', 'day') || '';\n    return String(da).localeCompare(String(db));\n  });\n  \n  // Last 7 days vs previous 7 days\n  const recent = sorted.slice(-7);\n  const previous = sorted.slice(-14, -7);\n  \n  seo.sessions = recent.reduce((s, r) => s + toNum(getField(r, 'sessions', 'session')), 0);\n  seo.sessionsPrev = previous.reduce((s, r) => s + toNum(getField(r, 'sessions', 'session')), 0);\n  seo.sessionsVariation = pct(seo.sessions, seo.sessionsPrev);\n  \n  seo.users = recent.reduce((s, r) => s + toNum(getField(r, 'utilisateurs', 'users', 'utilisateur')), 0);\n  seo.usersPrev = previous.reduce((s, r) => s + toNum(getField(r, 'utilisateurs', 'users', 'utilisateur')), 0);\n  seo.usersVariation = pct(seo.users, seo.usersPrev);\n  \n  // Averages\n  if (recent.length > 0) {\n    seo.bounceRate = Math.round(recent.reduce((s, r) => s + toNum(getField(r, 'taux_rebond', 'taux de rebond', 'bounce_rate', 'rebond')), 0) / recent.length * 10) / 10;\n    seo.pagesPerSession = Math.round(recent.reduce((s, r) => s + toNum(getField(r, 'pages_session', 'pages/session', 'pages_per_session', 'pages par session')), 0) / recent.length * 10) / 10;\n  }\n  \n  // Sparkline data (last 31 days)\n  seo.dailySessions = sorted.slice(-31).map(r => toNum(getField(r, 'sessions', 'session')));\n}\n\n// --- Search Console ---\nconst searchConsole = { keywords: [], avgPosition: 0 };\n\nif (scItems.length > 0) {\n  const keywords = scItems.map(r => ({\n    keyword: getField(r, 'mot_cle', 'mot-cle', 'mot cle', 'keyword', 'query', 'requete') || '',\n    position: toNum(getField(r, 'position', 'position_moyenne', 'avg_position')),\n    positionPrev: toNum(getField(r, 'position_precedente', 'position_prev', 'previous_position', 'position precedente')),\n    clicks: toNum(getField(r, 'clics', 'clicks', 'click')),\n    impressions: toNum(getField(r, 'impressions', 'impression')),\n    ctr: toNum(getField(r, 'ctr', 'taux_clic'))\n  }));\n  \n  // Calculate progression (negative is better for position)\n  keywords.forEach(k => {\n    k.progression = k.positionPrev > 0 ? Math.round((k.positionPrev - k.position) * 10) / 10 : 0;\n  });\n  \n  // Sort by progression descending (biggest improvement first)\n  keywords.sort((a, b) => b.progression - a.progression);\n  \n  searchConsole.keywords = keywords.slice(0, 5);\n  searchConsole.avgPosition = keywords.length > 0 \n    ? Math.round(keywords.reduce((s, k) => s + k.position, 0) / keywords.length * 10) / 10 \n    : 0;\n}\n\n// --- Meta Ads ---\nconst paid = { roas: 0, cpa: 0, ctr: 0, totalSpend: 0, totalRevenue: 0, totalConversions: 0, campaigns: [] };\n\nif (metaItems.length > 0) {\n  const campaigns = metaItems.map(r => {\n    const spend = toNum(getField(r, 'depense', 'depenses', 'spend', 'cout', 'cost', 'budget'));\n    const revenue = toNum(getField(r, 'revenu', 'revenue', 'recette', 'ca', 'chiffre_affaires'));\n    const conversions = toNum(getField(r, 'conversions', 'conversion', 'achats', 'purchases'));\n    const clicks = toNum(getField(r, 'clics', 'clicks', 'click'));\n    const impressions = toNum(getField(r, 'impressions', 'impression'));\n    const roas = spend > 0 ? Math.round((revenue / spend) * 100) / 100 : 0;\n    const cpa = conversions > 0 ? Math.round((spend / conversions) * 100) / 100 : 0;\n    const ctr = impressions > 0 ? Math.round((clicks / impressions) * 10000) / 100 : 0;\n    \n    let statut = 'bon';\n    if (roas >= 3) statut = 'excellent';\n    else if (roas < 2) statut = 'attention';\n    \n    return {\n      name: getField(r, 'campagne', 'campaign', 'nom', 'name') || 'Sans nom',\n      spend, revenue, conversions, clicks, impressions, roas, cpa, ctr, statut\n    };\n  });\n  \n  paid.campaigns = campaigns;\n  paid.totalSpend = campaigns.reduce((s, c) => s + c.spend, 0);\n  paid.totalRevenue = campaigns.reduce((s, c) => s + c.revenue, 0);\n  paid.totalConversions = campaigns.reduce((s, c) => s + c.conversions, 0);\n  paid.roas = paid.totalSpend > 0 ? Math.round((paid.totalRevenue / paid.totalSpend) * 100) / 100 : 0;\n  paid.cpa = paid.totalConversions > 0 ? Math.round((paid.totalSpend / paid.totalConversions) * 100) / 100 : 0;\n  paid.ctr = campaigns.length > 0 ? Math.round(campaigns.reduce((s, c) => s + c.ctr, 0) / campaigns.length * 100) / 100 : 0;\n}\n\n// --- Objectifs Client ---\nconst objectifs = [];\n\nif (objItems.length > 0) {\n  for (const r of objItems) {\n    const actuel = toNum(getField(r, 'actuel', 'current', 'valeur_actuelle', 'valeur'));\n    const cible = toNum(getField(r, 'cible', 'target', 'objectif_cible', 'objectif'));\n    const ratio = cible > 0 ? Math.round((actuel / cible) * 1000) / 10 : 0;\n    \n    let statut = 'danger';\n    if (ratio >= 90) statut = 'ok';\n    else if (ratio >= 70) statut = 'warning';\n    \n    objectifs.push({\n      kpi: getField(r, 'kpi', 'indicateur', 'nom', 'name', 'objectif') || '',\n      actuel,\n      cible,\n      ratio,\n      statut,\n      unite: getField(r, 'unite', 'unit', 'format') || ''\n    });\n  }\n}\n\n// --- Recommandations automatiques ---\nconst recommendations = [];\n\nif (seo.sessionsVariation < -10) {\n  recommendations.push({\n    type: 'danger',\n    titre: 'Baisse significative du trafic organique',\n    detail: `Le trafic a baisse de ${Math.abs(seo.sessionsVariation)}% cette semaine. Verifier les positions cles et le contenu recent.`\n  });\n}\n\nif (paid.roas > 0 && paid.roas < 2) {\n  recommendations.push({\n    type: 'warning',\n    titre: 'ROAS en dessous du seuil de rentabilite',\n    detail: `Le ROAS global est de ${paid.roas}x. Optimiser les audiences et creatifs des campagnes sous-performantes.`\n  });\n}\n\nconst kpisEnDanger = objectifs.filter(o => o.statut === 'danger');\nif (kpisEnDanger.length > 0) {\n  recommendations.push({\n    type: 'danger',\n    titre: `${kpisEnDanger.length} objectif(s) en danger`,\n    detail: `Les KPIs suivants sont en dessous de 70% de l'objectif : ${kpisEnDanger.map(k => k.kpi).join(', ')}.`\n  });\n}\n\nif (seo.sessionsVariation > 10) {\n  recommendations.push({\n    type: 'success',\n    titre: 'Excellente progression du trafic',\n    detail: `Le trafic organique a augmente de +${seo.sessionsVariation}% cette semaine. Continuer sur cette lancee !`\n  });\n}\n\nif (paid.roas >= 3) {\n  recommendations.push({\n    type: 'success',\n    titre: 'Performance publicitaire excellente',\n    detail: `Le ROAS global de ${paid.roas}x depasse largement le seuil de rentabilite.`\n  });\n}\n\nif (recommendations.length === 0) {\n  recommendations.push({\n    type: 'success',\n    titre: 'Performances stables',\n    detail: 'Tous les indicateurs sont dans les normes attendues. Continuez les efforts en cours.'\n  });\n}\n\n// --- Build output ---\nconst now = new Date();\nconst weekStart = new Date(now);\nweekStart.setDate(now.getDate() - now.getDay() - 6);\nconst weekEnd = new Date(weekStart);\nweekEnd.setDate(weekStart.getDate() + 6);\n\nconst formatDate = (d) => `${String(d.getDate()).padStart(2,'0')}/${String(d.getMonth()+1).padStart(2,'0')}/${d.getFullYear()}`;\n\nconst output = {\n  clientName: 'Pierre Dumont',\n  agencyName: 'Pulse Digital',\n  clientCompany: 'Lyon',\n  periodStart: formatDate(weekStart),\n  periodEnd: formatDate(weekEnd),\n  generatedAt: formatDate(now),\n  seo,\n  searchConsole,\n  paid,\n  objectifs,\n  recommendations,\n  // Summary for Slack\n  slackSummary: {\n    sessions: seo.sessions,\n    sessionsVar: seo.sessionsVariation || 0,\n    roas: paid.roas,\n    conversions: paid.totalConversions,\n    objectifsAtteints: objectifs.filter(o => o.statut === 'ok').length,\n    objectifsTotal: objectifs.length,\n    alertes: recommendations.filter(r => r.type === 'danger').length\n  }\n};\n\nreturn [{ json: output }];"
            },
            "id": "code-transform",
            "name": "Transformer Donnees",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                912,
                304
            ]
        },
        {
            "parameters": {
                "jsCode": "// =============================================================\n// GENERER RAPPORT HTML - Email professionnel\n// =============================================================\n\nconst data = $input.first().json;\n\n// --- Helper: SVG Sparkline ---\nfunction sparkline(values, width = 200, height = 40) {\n  if (!values || values.length < 2) return '';\n  const max = Math.max(...values);\n  const min = Math.min(...values);\n  const range = max - min || 1;\n  const step = width / (values.length - 1);\n  const points = values.map((v, i) => `${Math.round(i * step)},${Math.round(height - ((v - min) / range) * (height - 4) - 2)}`).join(' ');\n  return `<svg width=\"${width}\" height=\"${height}\" viewBox=\"0 0 ${width} ${height}\" style=\"display:block;\">\n    <polyline points=\"${points}\" fill=\"none\" stroke=\"#6366f1\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n    <circle cx=\"${Math.round((values.length-1) * step)}\" cy=\"${Math.round(height - ((values[values.length-1] - min) / range) * (height - 4) - 2)}\" r=\"3\" fill=\"#6366f1\"/>\n  </svg>`;\n}\n\n// --- Helper: variation badge ---\nfunction varBadge(val) {\n  if (val === undefined || val === null) return '';\n  const color = val >= 0 ? '#059669' : '#dc2626';\n  const arrow = val >= 0 ? '&#9650;' : '&#9660;';\n  return `<span style=\"display:inline-block;padding:2px 8px;border-radius:12px;font-size:12px;font-weight:600;color:${color};background:${val >= 0 ? '#d1fae5' : '#fee2e2'};\">${arrow} ${val >= 0 ? '+' : ''}${val}%</span>`;\n}\n\n// --- Helper: status badge ---\nfunction statusBadge(statut) {\n  const colors = {\n    ok: { bg: '#d1fae5', text: '#065f46', label: 'En bonne voie' },\n    excellent: { bg: '#d1fae5', text: '#065f46', label: 'Excellent' },\n    bon: { bg: '#dbeafe', text: '#1e40af', label: 'Bon' },\n    warning: { bg: '#fef3c7', text: '#92400e', label: 'Attention' },\n    attention: { bg: '#fef3c7', text: '#92400e', label: 'Attention' },\n    danger: { bg: '#fee2e2', text: '#991b1b', label: 'En danger' }\n  };\n  const c = colors[statut] || colors.bon;\n  return `<span style=\"display:inline-block;padding:3px 10px;border-radius:12px;font-size:11px;font-weight:700;color:${c.text};background:${c.bg};\">${c.label}</span>`;\n}\n\n// --- KPI Card ---\nfunction kpiCard(label, value, variation, unit = '') {\n  return `<td style=\"padding:8px;\">\n    <div style=\"background:#f8fafc;border-radius:12px;padding:16px;text-align:center;border:1px solid #e2e8f0;\">\n      <div style=\"font-size:12px;color:#64748b;text-transform:uppercase;letter-spacing:0.5px;margin-bottom:4px;\">${label}</div>\n      <div style=\"font-size:28px;font-weight:800;color:#1e293b;\">${typeof value === 'number' ? value.toLocaleString('fr-FR') : value}${unit}</div>\n      ${variation !== undefined ? `<div style=\"margin-top:4px;\">${varBadge(variation)}</div>` : ''}\n    </div>\n  </td>`;\n}\n\n// --- Build HTML ---\nconst seo = data.seo || {};\nconst sc = data.searchConsole || {};\nconst paid = data.paid || {};\nconst objectifs = data.objectifs || [];\nconst recs = data.recommendations || [];\n\n// Keywords table rows\nconst keywordRows = (sc.keywords || []).map(k => `\n  <tr>\n    <td style=\"padding:8px 12px;border-bottom:1px solid #f1f5f9;font-weight:500;\">${k.keyword}</td>\n    <td style=\"padding:8px 12px;border-bottom:1px solid #f1f5f9;text-align:center;\">${k.position.toFixed(1)}</td>\n    <td style=\"padding:8px 12px;border-bottom:1px solid #f1f5f9;text-align:center;\">\n      <span style=\"color:${k.progression >= 0 ? '#059669' : '#dc2626'};font-weight:600;\">${k.progression >= 0 ? '+' : ''}${k.progression.toFixed(1)}</span>\n    </td>\n    <td style=\"padding:8px 12px;border-bottom:1px solid #f1f5f9;text-align:center;\">${k.clicks}</td>\n    <td style=\"padding:8px 12px;border-bottom:1px solid #f1f5f9;text-align:center;\">${k.impressions}</td>\n  </tr>\n`).join('');\n\n// Campaign table rows\nconst campaignRows = (paid.campaigns || []).map(c => `\n  <tr>\n    <td style=\"padding:8px 12px;border-bottom:1px solid #f1f5f9;font-weight:500;\">${c.name}</td>\n    <td style=\"padding:8px 12px;border-bottom:1px solid #f1f5f9;text-align:center;\">${c.spend.toLocaleString('fr-FR')} &euro;</td>\n    <td style=\"padding:8px 12px;border-bottom:1px solid #f1f5f9;text-align:center;\">${c.revenue.toLocaleString('fr-FR')} &euro;</td>\n    <td style=\"padding:8px 12px;border-bottom:1px solid #f1f5f9;text-align:center;font-weight:700;\">${c.roas}x</td>\n    <td style=\"padding:8px 12px;border-bottom:1px solid #f1f5f9;text-align:center;\">${c.conversions}</td>\n    <td style=\"padding:8px 12px;border-bottom:1px solid #f1f5f9;text-align:center;\">${statusBadge(c.statut)}</td>\n  </tr>\n`).join('');\n\n// Objectifs table rows\nconst objectifRows = objectifs.map(o => `\n  <tr>\n    <td style=\"padding:8px 12px;border-bottom:1px solid #f1f5f9;font-weight:500;\">${o.kpi}</td>\n    <td style=\"padding:8px 12px;border-bottom:1px solid #f1f5f9;text-align:center;\">${o.actuel.toLocaleString('fr-FR')}${o.unite ? ' ' + o.unite : ''}</td>\n    <td style=\"padding:8px 12px;border-bottom:1px solid #f1f5f9;text-align:center;\">${o.cible.toLocaleString('fr-FR')}${o.unite ? ' ' + o.unite : ''}</td>\n    <td style=\"padding:8px 12px;border-bottom:1px solid #f1f5f9;text-align:center;font-weight:700;\">${o.ratio}%</td>\n    <td style=\"padding:8px 12px;border-bottom:1px solid #f1f5f9;text-align:center;\">${statusBadge(o.statut)}</td>\n  </tr>\n`).join('');\n\n// Recommendations blocks\nconst recColors = { danger: { bg: '#fef2f2', border: '#fca5a5', icon: '&#9888;' }, warning: { bg: '#fffbeb', border: '#fcd34d', icon: '&#9888;' }, success: { bg: '#f0fdf4', border: '#86efac', icon: '&#10003;' } };\nconst recBlocks = recs.map(r => {\n  const c = recColors[r.type] || recColors.success;\n  return `<div style=\"background:${c.bg};border-left:4px solid ${c.border};border-radius:8px;padding:14px 18px;margin-bottom:10px;\">\n    <div style=\"font-weight:700;font-size:14px;margin-bottom:4px;\">${c.icon} ${r.titre}</div>\n    <div style=\"font-size:13px;color:#475569;\">${r.detail}</div>\n  </div>`;\n}).join('');\n\nconst html = `<!DOCTYPE html>\n<html lang=\"fr\">\n<head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"></head>\n<body style=\"margin:0;padding:0;background:#f1f5f9;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f1f5f9;padding:20px 0;\">\n<tr><td align=\"center\">\n<table width=\"680\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:16px;overflow:hidden;box-shadow:0 4px 24px rgba(0,0,0,0.08);\">\n\n<!-- HEADER -->\n<tr><td style=\"background:linear-gradient(135deg,#4f46e5 0%,#7c3aed 50%,#a855f7 100%);padding:40px 40px 30px;\">\n  <div style=\"font-size:14px;color:rgba(255,255,255,0.8);text-transform:uppercase;letter-spacing:2px;margin-bottom:8px;\">Pulse Digital</div>\n  <div style=\"font-size:28px;font-weight:800;color:#ffffff;margin-bottom:6px;\">Rapport Hebdomadaire</div>\n  <div style=\"font-size:15px;color:rgba(255,255,255,0.9);\">Periode : ${data.periodStart} &mdash; ${data.periodEnd}</div>\n  <div style=\"font-size:13px;color:rgba(255,255,255,0.7);margin-top:4px;\">Prepare pour ${data.clientName}</div>\n</td></tr>\n\n<!-- SEO SECTION -->\n<tr><td style=\"padding:30px 40px 10px;\">\n  <div style=\"font-size:20px;font-weight:800;color:#4f46e5;margin-bottom:16px;\">&#128200; Trafic Organique (SEO)</div>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n    <tr>\n      ${kpiCard('Sessions', seo.sessions || 0, seo.sessionsVariation)}\n      ${kpiCard('Utilisateurs', seo.users || 0, seo.usersVariation)}\n      ${kpiCard('Taux de rebond', seo.bounceRate || 0, undefined, '%')}\n      ${kpiCard('Pages/Session', seo.pagesPerSession || 0)}\n    </tr>\n  </table>\n  ${seo.dailySessions && seo.dailySessions.length > 1 ? `\n  <div style=\"margin-top:12px;padding:12px;background:#f8fafc;border-radius:8px;\">\n    <div style=\"font-size:11px;color:#94a3b8;text-transform:uppercase;letter-spacing:0.5px;margin-bottom:6px;\">Sessions - 31 derniers jours</div>\n    ${sparkline(seo.dailySessions, 580, 50)}\n  </div>` : ''}\n</td></tr>\n\n<!-- SEARCH CONSOLE -->\n${sc.keywords && sc.keywords.length > 0 ? `\n<tr><td style=\"padding:20px 40px 10px;\">\n  <div style=\"font-size:20px;font-weight:800;color:#4f46e5;margin-bottom:4px;\">&#128270; Search Console</div>\n  <div style=\"font-size:13px;color:#64748b;margin-bottom:14px;\">Position moyenne : <strong>${sc.avgPosition}</strong></div>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-radius:8px;overflow:hidden;border:1px solid #e2e8f0;\">\n    <tr style=\"background:#f8fafc;\">\n      <th style=\"padding:10px 12px;text-align:left;font-size:12px;color:#64748b;text-transform:uppercase;\">Mot-cle</th>\n      <th style=\"padding:10px 12px;text-align:center;font-size:12px;color:#64748b;text-transform:uppercase;\">Position</th>\n      <th style=\"padding:10px 12px;text-align:center;font-size:12px;color:#64748b;text-transform:uppercase;\">Progression</th>\n      <th style=\"padding:10px 12px;text-align:center;font-size:12px;color:#64748b;text-transform:uppercase;\">Clics</th>\n      <th style=\"padding:10px 12px;text-align:center;font-size:12px;color:#64748b;text-transform:uppercase;\">Impressions</th>\n    </tr>\n    ${keywordRows}\n  </table>\n</td></tr>` : ''}\n\n<!-- PAID SECTION -->\n${paid.campaigns && paid.campaigns.length > 0 ? `\n<tr><td style=\"padding:20px 40px 10px;\">\n  <div style=\"font-size:20px;font-weight:800;color:#4f46e5;margin-bottom:16px;\">&#128176; Publicite Payante (Meta Ads)</div>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n    <tr>\n      ${kpiCard('ROAS Global', paid.roas + 'x')}\n      ${kpiCard('CPA Moyen', paid.cpa + ' \\u20ac')}\n      ${kpiCard('Conversions', paid.totalConversions)}\n    </tr>\n  </table>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-top:14px;border-radius:8px;overflow:hidden;border:1px solid #e2e8f0;\">\n    <tr style=\"background:#f8fafc;\">\n      <th style=\"padding:10px 12px;text-align:left;font-size:12px;color:#64748b;text-transform:uppercase;\">Campagne</th>\n      <th style=\"padding:10px 12px;text-align:center;font-size:12px;color:#64748b;text-transform:uppercase;\">Depense</th>\n      <th style=\"padding:10px 12px;text-align:center;font-size:12px;color:#64748b;text-transform:uppercase;\">Revenu</th>\n      <th style=\"padding:10px 12px;text-align:center;font-size:12px;color:#64748b;text-transform:uppercase;\">ROAS</th>\n      <th style=\"padding:10px 12px;text-align:center;font-size:12px;color:#64748b;text-transform:uppercase;\">Conv.</th>\n      <th style=\"padding:10px 12px;text-align:center;font-size:12px;color:#64748b;text-transform:uppercase;\">Statut</th>\n    </tr>\n    ${campaignRows}\n  </table>\n</td></tr>` : ''}\n\n<!-- OBJECTIFS -->\n${objectifs.length > 0 ? `\n<tr><td style=\"padding:20px 40px 10px;\">\n  <div style=\"font-size:20px;font-weight:800;color:#4f46e5;margin-bottom:14px;\">&#127919; Objectifs Client</div>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-radius:8px;overflow:hidden;border:1px solid #e2e8f0;\">\n    <tr style=\"background:#f8fafc;\">\n      <th style=\"padding:10px 12px;text-align:left;font-size:12px;color:#64748b;text-transform:uppercase;\">KPI</th>\n      <th style=\"padding:10px 12px;text-align:center;font-size:12px;color:#64748b;text-transform:uppercase;\">Actuel</th>\n      <th style=\"padding:10px 12px;text-align:center;font-size:12px;color:#64748b;text-transform:uppercase;\">Cible</th>\n      <th style=\"padding:10px 12px;text-align:center;font-size:12px;color:#64748b;text-transform:uppercase;\">Progres</th>\n      <th style=\"padding:10px 12px;text-align:center;font-size:12px;color:#64748b;text-transform:uppercase;\">Statut</th>\n    </tr>\n    ${objectifRows}\n  </table>\n</td></tr>` : ''}\n\n<!-- RECOMMANDATIONS -->\n<tr><td style=\"padding:20px 40px 10px;\">\n  <div style=\"font-size:20px;font-weight:800;color:#4f46e5;margin-bottom:14px;\">&#128161; Recommandations</div>\n  ${recBlocks}\n</td></tr>\n\n<!-- FOOTER -->\n<tr><td style=\"padding:30px 40px;border-top:1px solid #e2e8f0;margin-top:20px;\">\n  <div style=\"text-align:center;\">\n    <div style=\"font-size:13px;color:#94a3b8;\">Rapport genere automatiquement le ${data.generatedAt} par Pulse Digital</div>\n    <div style=\"font-size:12px;color:#cbd5e1;margin-top:4px;\">Ce rapport est confidentiel et destine uniquement a ${data.clientName}.</div>\n  </div>\n</td></tr>\n\n</table>\n</td></tr>\n</table>\n</body>\n</html>`;\n\n// Subject line\nconst subject = `Rapport Hebdomadaire - ${data.periodStart} au ${data.periodEnd} | Pulse Digital`;\n\n// Slack summary\nconst slack = data.slackSummary || {};\nconst slackText = `:bar_chart: *Rapport hebdomadaire envoye - ${data.clientName}*\\n\\n` +\n  `:globe_with_meridians: *SEO :* ${(slack.sessions || 0).toLocaleString('fr-FR')} sessions (${slack.sessionsVar >= 0 ? '+' : ''}${slack.sessionsVar || 0}%)\\n` +\n  `:moneybag: *ROAS :* ${slack.roas || 0}x | *Conversions :* ${slack.conversions || 0}\\n` +\n  `:dart: *Objectifs :* ${slack.objectifsAtteints || 0}/${slack.objectifsTotal || 0} atteints\\n` +\n  (slack.alertes > 0 ? `:rotating_light: *${slack.alertes} alerte(s)* necessitant une action` : `:white_check_mark: Aucune alerte`);\n\nreturn [{ json: { html, subject, clientName: data.clientName, slackText } }];"
            },
            "id": "code-html",
            "name": "Generer Rapport HTML",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1200,
                304
            ]
        },
        {
            "parameters": {
                "fromEmail": "rapport@pulsedigital.fr",
                "toEmail": "pierre.dumont@example.com",
                "subject": "={{ $json.subject }}",
                "html": "={{ $json.html }}",
                "options": {}
            },
            "id": "email-1",
            "name": "Envoyer Email",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2.1,
            "position": [
                1504,
                256
            ],
            "webhookId": "f3f18ccd-aa66-4338-947f-5b8f82500d78"
        },
        {
            "parameters": {
                "select": "channel",
                "channelId": {
                    "__rl": true,
                    "mode": "name",
                    "value": "#reporting"
                },
                "text": "={{ $json.slackText }}",
                "otherOptions": {}
            },
            "id": "slack-1",
            "name": "Notifier Slack",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.4,
            "position": [
                1504,
                464
            ],
            "webhookId": "35ea3fb7-a9c2-4221-9f34-8b081877ae9a"
        }
    ],
    "connections": {
        "Chaque Lundi 8h": {
            "main": [
                [
                    {
                        "node": "Google Analytics",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Search Console",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Meta Ads",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Objectifs Client",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Analytics": {
            "main": [
                [
                    {
                        "node": "Fusionner Donnees",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Search Console": {
            "main": [
                [
                    {
                        "node": "Fusionner Donnees",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Meta Ads": {
            "main": [
                [
                    {
                        "node": "Fusionner Donnees",
                        "type": "main",
                        "index": 2
                    }
                ]
            ]
        },
        "Objectifs Client": {
            "main": [
                [
                    {
                        "node": "Fusionner Donnees",
                        "type": "main",
                        "index": 3
                    }
                ]
            ]
        },
        "Fusionner Donnees": {
            "main": [
                [
                    {
                        "node": "Transformer Donnees",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transformer Donnees": {
            "main": [
                [
                    {
                        "node": "Generer Rapport HTML",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generer Rapport HTML": {
            "main": [
                [
                    {
                        "node": "Envoyer Email",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Notifier Slack",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "instanceId": "65a80edec3c2f189f1ba8da4bc02879e832291c03bf833d4cbd1bff8ea19a66b"
    }
}